@page
@model BookListRazor.Pages.BookList.CreateModel


<br />
<h2 class="text-info">Create New Book</h2>
<br />  

<div class="border container" style="padding:30px;">
    <form >

    </form>
</div>
